input, textarea {
	text-transform: uppercase
}

.centrar {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -30px;
	margin-top: -30px;
}

.linkAlert, .linkAlert:hover{
	color: white;
	text-decoration: none;
}

// .nav-link{
// 	color: #6d6d6d !important;
// }

// .nav-link.active{
// 	color: #fff !important;
// }

// .nav-link.disabled{
// 	color: #efefef !important;
// }