	.dropdown-toggle {
		height: 33px;
		overflow: hidden;
	}
	
	input.form-control {
		width: 100% !important;
	}
	
	.dropdown {
		font-family: inherit;
		font-size: .875rem;
	}
	
	.v-select input[type=search],
	.v-select input[type=search]:focus {
		height: 31px;
	}
	
	.v-select .dropdown-toggle .clear {
		bottom: 8px;
	}
	
	.v-select .open-indicator {
		bottom: 5px;
	}
	
	.v-select .selected-tag {
		margin: 2px 1px 0 3px;
    }
    
    